body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #696b6d, #058d7b);
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pedido {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button#simButton {
    background-color: #28a745;
    color: white;
    border: none;
}

button#simButton:hover {
    background-color: #218838;
    transform: scale(1.1);
}

button#naoButton {
    background-color: #dc3545;
    color: white;
    border: none;
    position: absolute;
}

button#naoButton:hover {
    background-color: #c82333;
    transform: scale(1.1);
}

#resposta {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }

    #resposta {
        font-size: 18px;
    }
}


